@import '@/styles/fonts.scss';
@import '@/styles/const.scss';

.ErrorConatiner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 200px;
  text-align: center;

  .ErrorTitle {
    @extend .pre_heading_3;
    margin-bottom: 24px;
  }

  .ErrorMessage {
    @extend .pre_body_2;
    margin-bottom: 64px;
    color: $gray300;
  }
}

@media (min-width: 1280px) {
  .ErrorConatiner {
    .ErrorTitle {
      @include font-style($pretendard, 700, 48px, 56px, -0.25px);
    }
  }
}
