@import '@/styles/fonts.scss';
@import '@/components/common/button/Button.scss';

.BreakPoint {
  display: none;
}

.PgDonationWrapper {
  .PgDonationLogo {
    width: 295px;
    height: 60px;
  }
  .PgDonationDescription {
    @include font-style($pretendard, 400, 20px, 32px, -0.25px);
    margin-top: 32px;
    color: $gray300;
  }
  .PgDonationButtonWrapper {
    .PgDonationButton {
      @include button-style(24px, 32px, 24px, 48px);
    }
  }
}
