@import '@/styles/const.scss';
@import '@/styles/fonts.scss';
@import '@/components/common/button/Button.scss';

.BreakPoint {
  display: block;
}

.PgDonationWrapper {
  .PgDonationLogo {
    display: block;
    margin: 0 auto;
  }
  .PgDonationDescription {
    @extend .pre_caption_1;
    margin-top: 16px;
    text-align: center;
    color: $gray300;
  }
  .PgDonationButtonWrapper {
    margin-top: 32px;
    display: flex;
    justify-content: center;

    .PgDonationButton {
      @extend .button;
      @include button-style(16px, 20px, 16px, 24px);
      background: $white;
      color: $gray900;
    }
  }
}

@media (min-width: 1280px) {
  @import './AsanDonation_1280.module.scss';
}
