.button {
  cursor: pointer;
  border: none;

  // TODO 컬러팔레트 및 폰트 변경
  &.SIZE_80 {
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.25px;
    padding: 24px 48px;
    border-radius: 100px;
  }

  &.SIZE_56 {
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.25px;
    padding: 18px 24px;
    border-radius: 100px;
  }

  &.SIZE_48 {
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.25px;
    padding: 12px 24px;
    border-radius: 100px;
  }

  &.SIZE_80,
  &.SIZE_56 {
    &.fulled {
      width: 100%;
    }

    &.primary {
      background: white;
      color: rgba(28, 28, 30, 1);

      &:hover {
        background: linear-gradient(90deg, white, transparent)
          rgba(255, 202, 214, 1);
        transition: background-color 1s;
        place-content: center;
      }

      &:disabled {
        background: #e1e3ed;
        color: #9fa0ab;
      }
    }
  }

  &.SIZE_48 {
    &.fulled {
      width: 100%;
    }

    &.primary {
      background: #fa2454;
      color: white;

      &:hover {
        background: linear-gradient(90deg, #ff87a2, transparent) #fa2454;
        transition: background-color 1s;
        place-content: center;
      }

      &:disabled {
        background: #e1e3ed;
        color: #9fa0ab;
      }
    }
  }
}
