.PageTitle {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 64px 0px 24px;
}

.ArrowIconDiv {
  text-align: center;
  cursor: pointer;
  margin-top: 20px;

  svg {
    width: 60px;
    height: 60px;
  }

  @media (min-width: 768px) {
    margin-top: 70px;

    svg {
      width: 80px;
      height: 80px;
    }
  }
}

.Hidden {
  display: none;
}

@media (min-width: 1280) {
  @import './ProjectComponents_1280.module.scss';
}
