@import '@/styles/const.scss';

.card-container {
  max-width: 370px;
  max-height: 606px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border: 1px solid $gray600;
  border-radius: 32px;
  padding: 12px 12px 24px;

  .image-container {
    position: relative;
    width: 345px;
    height: 430px;
    border-radius: 20px;
    overflow: hidden;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 346px;
    max-height: 124px;
    padding: 0px 8px;
  }

  .title-div {
    display: flex;
    gap: 4px;

    .title {
      max-width: 298px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .nth {
      margin-top: 5px;
    }
  }

  .tag-div {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
  }
}
.card-container:hover {
  cursor: pointer;
  transform: translateY(-20px);
  background-color: $gray800;
  transition: transform 0.3s;
  border: none;

  .stack-tag {
    background-color: $gray700;
  }
}
