@import '@/styles/const.scss';

.PageTitleWrapper {
  display: flex;
  flex-direction: column;
  gap: 88px;
  margin: 122px 0px 160px;

  .ContactWrapper {
    a {
      color: $red500;
      display: block;
    }
    a:first-child {
      margin-bottom: 32px;
    }
  }
}

.DonationWrapper {
  margin-top: 160px;
}
