// Primary Color
$red300: #ffcad6;
$red400: #ff87a2;
$red500: #fa2454;
$red600: #da0f3d;

// Primary Gradation
$red_gradation_100: linear-gradient(90deg, #ffffff, #ffcad6);
$red_gradation_200: linear-gradient(90deg, #ff87a2, #fa2454);

// Secondary Color
$yellow500: #ffb904;
$blue500: #1033ff;
$orange500: #ff6929;
$purple500: #b251ff;

// Grayscale Color
$gray900: #111113;
$gray800: #1c1c1e;
$gray700: #333336;
$gray600: #47474b;
$gray500: #45484e;
$gray400: #9fa0ab;
$gray300: #e1e3ed;
$white: #ffffff;

// Transparent
$gray_trans_100: rgba(0, 0, 0, 0.7);

// Background
$bg: #000000;

// Font
$pretendard:
  'Pretandard',
  -apple-system,
  BlinkMacSystemFont,
  Segoe UI,
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  Fira Sans,
  Droid Sans,
  Helvetica Neue,
  sans-serif;
$sf-pro:
  'SF Pro',
  -apple-system,
  BlinkMacSystemFont,
  Segoe UI,
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  Fira Sans,
  Droid Sans,
  Helvetica Neue,
  sans-serif;
