$gray300: #e1e3ed;
$gray500: #9fa0ab;
$gray700: #45484e;
$gray800: #47474b;
$gray900: #1d1c1e;
$white: #ffffff;
$red300: #ffcad6;
$red500: #fa2454;
$red600: #da0f3e;
$red-gradation-100: linear-gradient(90deg, #ffffff, #ffcad6);
$red-gradation-200: linear-gradient(90deg, #ff87a2, #fa2454);
$yellow500: #ffdf6e;