* {
  font-family:
    'Pretendard GOV Variable',
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  box-sizing: border-box;
  color: #fff;
}

body {
  margin: 0;
  background-color: #000000;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
blockquote {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: #333336;
}

div::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

div::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: #111113;
}
