* {
  font-family:
    'Pretandard',
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000000;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
blockquote {
  padding: 0;
  margin: 0;
}
