@import '@/styles/const.scss';
@import '@/styles/fonts.scss';
@import '@/styles/responsiveFonts.scss';

@mixin button-style {
  @extend .sf_heading_6;
  border-radius: 100px;
  padding: 12px 24px;
  cursor: pointer;
  white-space: nowrap;

  @media (min-width: 1280px) {
    padding: 20px 30px;
  }
}

.CrewTitle {
  @extend .sf_h3_to_h1;
  margin-left: 20px;
  margin-bottom: 32px;

  @media (min-width: 1280px) {
    margin-left: 0;
  }
}

.CrewContainer {
  margin-top: 120px;
  margin: 0px auto;
}

.PositionWrapper {
  overflow-y: scroll;
  display: flex;
  gap: 8px;
  margin: 32px 0 16px 0;
}

.PositionDescription {
  @extend .pre_caption_1;
  margin: 0 20px 24px 20px;
}

.PositionButton {
  border: 1px solid $gray600;
  @include button-style;

  &:first-child {
    margin-left: 20px;
  }

  &:last-child {
    margin-right: 20px;
  }
}

.SelectedPositionButton {
  border: none;
  background-color: $white;
  color: $gray800;
  @include button-style;

  &:first-child {
    margin-left: 20px;
  }

  &:last-child {
    margin-right: 20px;
  }
}

.MemberWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 20px;
}

.MemberContainer {
  display: flex;
  gap: 8px;

  .MemberProfileImgContainer {
    width: 64px;
  }

  .MemberProfileImg {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }

  .MemberProfileDetail {
    .Name {
      @extend .pre_heading_6;
      margin-right: 8px;
      font-weight: 700;
    }

    .Slash {
      color: $gray600;
    }

    .Company {
      @extend .sf_heading_6;
      color: $gray400;
      margin-left: 8px;
      font-weight: 700;
    }

    .Bubble {
      @extend .sf_caption_1;
      margin-top: 8px;
      position: relative;
      display: block;
      padding: 16px 24px;
      background-color: $gray800;
      border-radius: 10px;
    }

    .Bubble::before,
    .Bubble::after {
      content: '';
      position: absolute;
      border-style: solid;
    }

    /* 왼쪽 화살표 */
    .Bubble::before {
      top: 50%;
      right: 100%;
      margin-top: -10px;
      border-width: 10px;
      border-color: transparent $gray800 transparent transparent;
    }

    /* 말풍선의 body 부분 */
    .Bubble::after {
      top: 10%;
      right: 100%;
      margin-top: -2px;
      border-width: 2px;
      border-color: transparent $gray800 transparent transparent;
    }
  }
}

@media (min-width: 1280px) {
  @import './CrewList_1280.module.scss';
}
