@import '@/styles/const.scss';
@import '@/styles/fonts.scss';

@mixin button-style {
  @extend .sf_heading_5;
  border-radius: 100px;
  padding: 20px;
  cursor: pointer;
}

.CrewContainer {
  margin-top: 274px;
}

.PositionWrapper {
  display: flex;
  gap: 8px;
  margin: 48px 0 32px 0;
}

.PositionButton {
  border: 1px solid $gray600;
  @include button-style;
}

.SelectedPositionButton {
  border: none;
  background-color: $white;
  color: $gray800;
  @include button-style;
}

.MemberWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
  column-gap: 32px;
}

.MemberContainer {
  display: flex;
  gap: 16px;

  .MemberProfileImg {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  .MemberProfileDetail {
    .Name {
      @extend .pre_heading_5;
      margin-right: 10px;
    }

    .Slash {
      color: $gray600;
    }

    .Company {
      @extend .sf_heading_5;
      color: $gray400;
      margin-left: 10px;
    }

    .Bubble {
      margin-top: 8px;
      position: relative;
      display: block;
      padding: 10px 15px;
      background-color: $gray800;
      border-radius: 10px;
    }

    .Bubble::before,
    .Bubble::after {
      content: '';
      position: absolute;
      border-style: solid;
    }

    /* 왼쪽 화살표 */
    .Bubble::before {
      top: 50%;
      right: 100%;
      margin-top: -10px;
      border-width: 10px;
      border-color: transparent $gray800 transparent transparent;
    }

    /* 말풍선의 body 부분 */
    .Bubble::after {
      top: 10%;
      right: 100%;
      margin-top: -2px;
      border-width: 2px;
      border-color: transparent $gray800 transparent transparent;
    }
  }
}
