.ContentsWrapper {
  width: 100%;
  height: 100%;
  margin: 28px 0 120px;
  display: flex;
  flex-direction: column;
  gap: 28px;

  > div {
    padding: 0 20px;
  }

  @media (min-width: 768px) {
    padding: 0 20px;

    > div {
      padding: 0;
    }
    > img {
      border-radius: 32px;
    }
  }
}

@media (min-width: 1280px) {
  @import './ModalContents_1280.module.scss';
}
