.TitleWrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 0 20px;
}

.Contents {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.TextDiv {
  min-width: 353px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Icons {
  svg {
    cursor: pointer;
    width: 32px;
    height: 32px;

    @media (min-width: 768px) {
      width: 40px;
      height: 40px;
    }
  }

  svg:hover {
    circle {
      fill: #e1e3ed;
    }
  }
}

.TagDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

@media (min-width: 1280px) {
  @import './ModalTitle_1280.module.scss';
}
