@import '@/styles/fonts.scss';

.CrewWrapper {
  width: 100%;
}

.Crews {
  display: flex;
  flex-wrap: wrap;
  column-gap: 116px;
  row-gap: 20px;
  margin: 20px 0 32px;
}

.CrewDiv {
  display: flex;
  align-items: center;
  height: 64px;
  flex: 1 1 100%;
  &:nth-child(odd) {
    margin-right: 0;
  }

  @media (min-width: 768px) {
    flex: 1 1 45%;
  }

  @media (min-width: 1280px) {
    flex: 1 1 25%;
  }
}

.ImageCon {
  width: 64px;
  margin-right: 12px;
}

.CrewName {
  font-weight: 700;

  &::after {
    content: '/';
    margin: 0 6px;
    color: $gray600;
  }
}

.CrewPart {
  font-weight: 700;
}

.ProjectContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  width: 100%;
  background-color: $gray800;
  border-radius: 32px;
  padding: 32px 50px;
  margin-top: 12px;
}

@media (min-width: 1280px) {
  @import './ModalCrew_1280.module.scss';
}
