.TitleWrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.Contents {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.TextDiv {
  min-width: 353px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Icons {
  :first-child {
    margin-right: 8px;
  }

  > svg {
    width: 32px;
    height: 32px;
  }
}

.TagDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

@media (min-width: 1280px) {
  @import './ModalTitle_1280.module.scss';
}
