@import '@/components/common/button/Button.scss';
@import '@/styles/fonts.scss';

.PgTypoContainer {
  margin-top: 210px;
}

.PgAboutButtonContainer {
  margin: 330px 0px 64px;
}

.PgTeamButtonContainer {
  margin: 330px 0px 16px;
}

.PgScheduleHead {
  @include font-style($sf_pro, 700, 64px, 72px, 0px);
  margin: 330px 0px 16px;
}

.PgProjectButtonContainer,
.PgDonationContainer {
  margin-top: 330px;
}
