@import '@/components/common/button/Button.scss';

.pg-home-container {
  max-width: 1033px;
}

.pg-typo-container {
  margin-top: 210px;
}

.pg-apply-button-container {
  margin-top: 40px;

  button {
    @include button-style(24px, 32px, 24px, 48px !important);
  }
}

.pg-about-button-container {
  margin: 330px 0px 64px 0px;
}
