.pg-home-container {
  margin: 0px auto;
  padding: 0px 20px;
}

.pg-typo-container {
  margin-top: 58px;
}

.pg-apply-button-container {
  margin-top: 32px;
}

.pg-about-button-container {
  margin: 120px 0px 40px 0px;
}

@media (min-width: 1280px) {
  @import './page.1280.scss';
}
