@import '@/styles/fonts.scss';

.PgTypoContainer {
  margin-top: 58px;
}

.PgApplyButtonContainer {
  margin-top: 32px;
}

.PgAboutButtonContainer {
  margin: 120px 0px 40px;
}

.PgTeamButtonContainer {
  margin: 120px 0px 8px;
}

.PgScheduleHead {
  @extend .sf_heading_3;
  margin: 120px 0px 8px;
}

.PgProjectButtonContainer {
  margin-top: 120px;
}

@media (min-width: 1280px) {
  @import './page_1280.module.scss';
}
