@import '@/styles/fonts.scss';

.pg-typo-container {
  margin-top: 58px;
}

.pg-apply-button-container {
  margin-top: 32px;
}

.pg-about-button-container {
  margin: 120px 0px 40px;
}

.pg-team-button-container {
  margin: 120px 0px 8px;
}

.pg-schedule-head {
  @extend .sf_heading_3;
  margin: 120px 0px 8px;
}

@media (min-width: 1280px) {
  @import './page.1280.scss';
}
