@import '@/styles/const.scss';
@import '@/styles/fonts.scss';

.PgTeamText {
  @extend .pre_caption_1;
  color: $gray300;
}

.PgTeamWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 8px;
}

.PgTeam {
  @extend .sf_heading_5;
  padding: 8px 16px;
  border-radius: 100px;
}

@media (min-width: 1280px) {
  @import './OneTeam_1280.module.scss';
}
