@import '@/styles/fonts.scss';

.PgTeamText {
  @include font-style($pretendard, 400, 20px, 32px, -0.25px);
}

.PgTeamWrapper {
  margin-top: 56px;
}

.PgTeam {
  font-size: 32px;
  line-height: 40px;
  padding: 28px 48px;
  margin: 0px 16px 16px 0px;
}
