@import '@/styles/fonts.scss';

.pg-team-text {
  @extend .pre_caption_1;
}

.pg-team-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.pg-team {
  @extend .sf_heading_5;
  padding: 8px 16px;
  border-radius: 100px;
  margin: 0px 8px 8px 0px;

  &:last-child {
    margin-right: 0px;
  }
}

@media (min-width: 1280px) {
  @import './OneTeam.1280.scss';
}
