@import '@/styles/const.scss';
@import '@/styles/fonts.scss';

.PgHomeProjectWrapper {
  width: 280px;
  cursor: pointer;
}

.PgHomeProjectImage {
  border-radius: 20px;
  overflow: hidden;
}

.PgHomeProjectText {
  margin-top: 16px;
  display: flex;
  align-items: center;

  .PgHomeProjectTitle {
    display: inline-block;
    max-width: calc(100% - 30px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @extend .sf_heading_6;
  }

  .PgHomeProjectGeneration {
    @extend .sf_caption_1;
    color: $gray400;
    margin-left: 4px;
  }
}

@media (min-width: 1280px) {
  @import './ProjectCard_1280.module.scss';
}
