@import '@/styles/const.scss';

.PgHomeProjectWrapper {
  width: 345px;
}

.PgHomeProjectImage {
  width: 345px;
  height: 430px;
  object-fit: cover;
}

.PgHomeProjectText {
  .PgHomeProjectTitle {
    @include font-style($sf_pro, 700, 20px, 32px, 0px);
  }
}
