@import '@/styles/fonts.scss';

.Break1 {
  display: none;
}

.Break2 {
  display: block;
}

.pgText {
  @include font-style($sf_pro, 700, 120px, 136px, 0px);
}

.pgTextTypo {
  &::after {
    width: 4px;
    height: 136px;
    margin: 0px 0px -32px 16px;
  }
}
