@import '@/styles/fonts.scss';

.break-1 {
  display: none;
}

.break-2 {
  display: block;
}

.pg-text {
  @include font-style($pretendard, 700, 120px, 136px, 0px);
}

.pg-text-typo {
  &::after {
    width: 4px;
    height: 136px;
    margin: 0px 0px -32px 16px;
  }
}
